chromadb
openai
pymupdf4llm
pymupdf
semantic_text_splitter
napari[pyqt6, optional]
napari-micromanager
pymmcore-plus
openai-agents
numpy
psycopg2
python-dotenv
mcp
pydantic
pandas
protobuf
griffe
requests
tqdm
markdown
pyqt6
chardet
pgvector
pytesseract
poppler
pdf2image
elasticsearch
tiktoken