chromadb
openai
pymupdf4llm
pymupdf
semantic_text_splitter
napari[all]
napari-micromanager
pymmcore-plus
openai-agents
python
numpy
psycopg2
python-dotenv
mcp
pydantic
pandas
protobuf~=5.29.4
griffe~=1.7.3
requests~=2.32.3
tqdm~=4.67.1